@model R_DTH.Models.package_change_request

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}

<div class="w3l-main-contact">
    <div class="container">
        <div class="agileinfo-contact-main-address">
            <h4 class="w3ls-inner-title">Request For Service Changing</h4>
            <div class="agileits-main-right">
                <h5>Check your details Please</h5>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="clearfix"></div>
                <div class="w3ls-text sec-right">
                    <label class="contact-form-w3ls">Package Name</label>
                    @Html.HiddenFor(model => model.pcr_packId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pcr_packId, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.pcr_packName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pcr_packName, "", new { @class = "text-danger" })
                </div>
                <div class="w3ls-text sec-right">
                    <label class="contact-form-w3ls">Package Charges</label>
                    @Html.EditorFor(model => model.pcr_packCharges, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pcr_packCharges, "", new { @class = "text-danger" })
                </div>
                <div class="w3ls-text sec-right">
                    <label class="contact-form-w3ls">User Name</label>
                    <input type="hidden" class="form-control" name="pcr_cusId" value="@Html.DisplayName(Session["CustomerId"].ToString())" />
                    @Html.ValidationMessageFor(model => model.pcr_cusId, "", new { @class = "text-danger" })
                    <input type="text" class="form-control" name="pcr_cusName" value="@Html.DisplayName(Session["CustomerName"].ToString())"/>
                    @Html.ValidationMessageFor(model => model.pcr_cusName, "", new { @class = "text-danger" })
                </div>
                <div class="w3ls-text sec-right">
                    <label class="contact-form-w3ls">Customer Card#</label>
                    <input type="text" class="form-control" name="pcr_cusCardNo" value="@Html.DisplayName(Session["CustomerCardNo"].ToString())" />
                    @Html.ValidationMessageFor(model => model.pcr_cusCardNo, "", new { @class = "text-danger" })
                </div>
                <div class="clearfix"></div>
                <input type="submit" class="btn-info hover" style="margin-top:20px; padding:10px;" value="Apply Now">
            }
         </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

@*@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>package_change_request</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.pcr_packId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pcr_packId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pcr_packId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pcr_packName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pcr_packName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pcr_packName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pcr_packCharges, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pcr_packCharges, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pcr_packCharges, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pcr_cusId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pcr_cusId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pcr_cusId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pcr_cusName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pcr_cusName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pcr_cusName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pcr_cusCardNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pcr_cusCardNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pcr_cusCardNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
