@model R_DTH.Models.Movy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.movie_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movie_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movie_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movie_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movie_language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movie_language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movie_availablity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movie_availablity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movie_channelNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movie_channelNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movie_duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movie_duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movie_timing1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movie_timing1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movie_timing2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movie_timing2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movie_charges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movie_charges)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.movie_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
