@model IEnumerable<R_DTH.Models.Movy>

@{
    ViewBag.Title = "Book Movies";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}

<div class="w3ls-banner products-agileinfo">
    <div class="container">
        <h2 class="w3ls-title">Movies On Demand.</h2>
        <h3 class="w3-subtitle">Feel The Beauty!</h3>
    </div>
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="@Url.Action("Index","Home")">Home</a> > <a href="@Url.Action("Movies","Home")">Digital Cable Tv</a> > <span>Book Movies</span></span>
    </div>
</div>
<!-- //breadcrumbs -->
<div class="container">
    <div class="w3ls-section">
        <div class="col-md-4 col-sm-4 col-xs-4 agileinfo-about-img abt-w3ls-btmimg">
            <img src="~/Content/myTheme/images/about2.png" class="img-responsive" alt="" />
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 agileinfo-about">
            <h4 class="info">Enjoy Your Favorite Movies!</h4>
        </div>
        <div class="clearfix"></div>
        <!-- services -->
        <div id="services" class="services jarallax">

            <h4 class="w3ls-inner-title">Latest Blockbusters</h4>
            <div class="w3-services-grids">

                @{
                    var k = 0;
                }
                @foreach (var item in Model)
                {
                <div class="col-md-6 col-sm-6 col-xs-6  w3l-services-grid">
                    <div class="col-md-6">
                        <img class="img-responsive" src="~/Content/AdminStuff/dist/img/@Html.DisplayFor(modelItem => item.movie_image)" />
                    </div>
                    <div class="col-md-6 agileits-services-info">
                        <ul class="packs-wthree">
                            <li class="w3ls-services-img">
                                <h4>@Html.DisplayFor(modelItem => item.movie_name)</h4>
                                <h5>Language: @Html.DisplayFor(modelItem => item.movie_language)</h5>
                                <h5>Availablity: @Html.DisplayFor(modelItem => item.movie_availablity)</h5>
                                <h5>Channel No: @Html.DisplayFor(modelItem => item.movie_channelNo)</h5>
                                <p>Duration: @Html.DisplayFor(modelItem => item.movie_duration)</p>
                            </li>
                           <li><br /><h6 class="w3ls-pack-title">select timings</h6><br /></li>
                            <li>
                                <input type="radio" name="view" id="excellent_@Html.DisplayFor(modelItem => item.movie_id)">
                                <label for="excellent">@Html.DisplayFor(modelItem => item.movie_timing1)</label>
                                <div class="check w3"></div>
                            </li>
                            <li>
                                <input type="radio" name="view" id="poor_@Html.DisplayFor(modelItem => item.movie_id)">
                                <label for="poor">@Html.DisplayFor(modelItem => item.movie_timing2)</label>
                                <span><label><u>Price: Rs.@Html.DisplayFor(modelItem => item.movie_charges)</u></label></span>
                                <div class="check w3_agileits"></div>
                            </li>
                        </ul>
                        <a href="@Url.Action("CustomerLogin","customers")" class="login" data-toggle="modal" >Order now</a>
                    </div>
                </div>
                    k++;
                    if (k == 2)
                    {
                        <div class="clearfix"> </div>
                        k = 0;
                    }

                }

            </div>
        </div>
        <!-- //services -->

    </div>

</div>
